.marquee {
    animation: scroll 40s linear infinite;
  }
  
  .marquee:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
  